/* fouryellow.com styles */
:root {
    --pink: #FF6BD6;
    --yellow: #FBFF45;
    --green: #52FF8D;
    --purple: #D660FF;
    --orange: #FF7B52;
    --blue: #6BDCFF;
    --rainbow: linear-gradient(90deg, #E04040 0%, #FFAF14 11.46%, #D2FF1C 22.56%, #6DF73D 33.81%, #00FF85 45.47%, #1BF2F2 56.25%, #1358DD 65.1%, #9D1CCA 75.52%, #D61AA1 82.81%, #D1173E 91.67%, #E63A3A 100%);
}

body {
    background: var(--pink);
    transition: background 1s ease-in-out;
    font-family: 'Recursive', monospace;
    position: relative;
    height: 100vh;
    width: 100vw;
}

body.home {
    background: var(--pink);
}
body.about {
    background: var(--purple);
}
body.blog {
    background: var(--blue);
}
body.portfolio {
    background: var(--green);
}
body.stuff {
    background: var(--orange);
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background: url('../images/4pattern.png');
    background-size: 4em;
}

main .big4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/big4.svg');
    background-repeat: no-repeat;
    background-position-x: -10vw;
    background-position-y: -20vh;
    opacity: 1;
    z-index: -1;
    transition: all 1s ease-in-out;
}
body.about .big4 {
    background-position-x: -55vw;
}
body.blog .big4 {
    background-position-x: 60vw;
}
body.stuff .big4 {
    background-position-y: -70%;
}
body.portfolio .big4 {
    background-position-y: 160%;
}

main .logo {
    position: absolute;
    bottom: .3em;
    right: 0;
    font-size: 144px;
    font-weight: 900;
    line-height: 1em;
    margin: 0;
    transition: transform 1s ease-in-out;
}

main .logo a {
    text-decoration: none;
    color: black;
}

main .logo::before {
    content: " ";
    position: absolute;
    top:0;
    bottom: 0;
    left: .2em;
    right: .2em;
    background: white;
    z-index: -1;
}
main .logo:hover::before {
    background: var(--yellow);
}

main nav {
    position: absolute;
    font-size: 50px;
    line-height: 60px;
    right: 6em;
    top: 4em;
    margin: 0;
    padding-right: 1em;
    transition: transform 1s ease-in-out;
}

main nav::before{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    bottom: .6em;
    left: .3em;
    background: white;
    z-index: -1;
}
main nav a{
    text-decoration: none;
    color: black;
    display: block;
    font-weight: 900;
    position: relative;
    z-index: 1;
}

main nav a:hover::before {
    content: " ";
    position: absolute;
    left: -.2em;
    right: 0;
    bottom: -.2em;
    top: .2em;
    z-index: -1;
    background: var(--yellow);
}

body.about :where(.logo, nav) {
    transform: translateX(-100vw);
}
body.blog :where(.logo, nav) {
    transform: translateX(100vw);
}
body.stuff :where(.logo, nav) {
    transform: translateY(100vh);
}
body.portfolio :where(.logo, nav) {
    transform: translateY(-100vh);
}

section#about {
    position: fixed;
    right: 20vw;
    top: 15vh;
    background: white;
    font-size: 50px;
    width: 12em;
    padding-left: 1.5em;
    line-height: 60px;
    padding-top: 14px;
    transition: transform 1s ease-in-out;
    transform: translateX(100vw);
}

section#about img {
    position:absolute;
    width: 20vw;
    height: auto;
    left: -47%;
    top: 5em;
}

section#about a {
    text-decoration: none;
    background: var(--rainbow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    white-space: nowrap;
}

section#about p{
    margin-top: 0;
}

div.back-about {
    position: fixed;
    font-size: 120px;
    font-weight: 900;
    bottom: 0;
    right: 0.2em;
    transition: transform 1s ease-in-out;
    transform: translateX(100vw);
}

div.back-about::before {
    content: " ";
    position: absolute;
    left: -0.2em;
    bottom: 0.2em;
    top: 0.6em;
    right: 0.2em;
    background: white;
    z-index: -1;
}
div.back-about:hover::before {
    background: var(--yellow);
}

div.back-about a {
    color: black;
    text-decoration: none;
}

body.about :is(section#about, div.back-about) {
    transform: translateX(0vw);
}

div.back-blog {
    position: fixed;
    font-size: 120px;
    font-weight: 900;
    bottom: 0;
    right: 0.2em;
    transition: transform 1s ease-in-out;
    transform: translateX(-100vw);
}

div.back-blog::before {
    content: " ";
    position: absolute;
    left: -0.2em;
    bottom: 0.2em;
    top: 0.6em;
    right: 0.2em;
    background: white;
    z-index: -1;
}
div.back-blog:hover::before {
    background: var(--yellow);
}

div.back-blog a {
    color: black;
    text-decoration: none;
}

body.blog :is(div.back-blog) {
    transform: translateX(0vw);
}

div.back-stuff {
    position: fixed;
    font-size: 120px;
    font-weight: 900;
    bottom: .8em;
    right: 0em;
    transition: transform 1s ease-in-out;
    transform: translateY(-100vw) rotate(-90deg);
}

div.back-stuff::before {
    content: " ";
    position: absolute;
    left: -0.2em;
    bottom: 0.5em;
    top: 0.3em;
    right: 0.2em;
    background: white;
    z-index: -1;
}
div.back-stuff:hover::before {
    background: var(--yellow);
}

div.back-stuff a {
    color: black;
    text-decoration: none;
}

body.stuff :is(div.back-stuff) {
    transform: translateY(0vw) rotate(-90deg);
}

div.back-portfolio {
    position: fixed;
    font-size: 120px;
    font-weight: 900;
    bottom: 0.6em;
    right: -.2em;
    transition: transform 1s ease-in-out;
    transform: translateY(100vw) rotate(90deg);
}

div.back-portfolio::before {
    content: " ";
    position: absolute;
    left: .3em;
    bottom: 0.2em;
    top: 0.6em;
    right: -.1em;
    background: white;
    z-index: -1;
}
div.back-portfolio:hover::before {
    background: var(--yellow);
}

div.back-portfolio a {
    color: black;
    text-decoration: none;
}

body.portfolio :is(div.back-portfolio) {
    transform: translateY(0vw) rotate(90deg);
}