/* fouryellow.com styles */
:root {
    --pink: #FF6BD6;
    --yellow: #FBFF45;
    --green: #52FF8D;
    --purple: #D660FF;
    --orange: #FF7B52;
    --blue: #6BDCFF;
    --rainbow: linear-gradient(90deg, #E04040 0%, #FFAF14 11.46%, #D2FF1C 22.56%, #6DF73D 33.81%, #00FF85 45.47%, #1BF2F2 56.25%, #1358DD 65.1%, #9D1CCA 75.52%, #D61AA1 82.81%, #D1173E 91.67%, #E63A3A 100%);
    --shadow: 5px 5px 0px #00000052;
}

body {
    background: var(--pink);
    transition: background 1s ease-in-out;
    font-family: 'Recursive', monospace;
    position: relative;
    height: 100vh;
    width: 100vw;
}

body.initial, body.initial * {
    transition: none !important;
}

body.home {
    background: var(--pink);
}
body.about {
    background: var(--purple);
}
body.blog, body.blog-post {
    background: var(--blue);
}
body.portfolio {
    background: var(--green);
}
body.stuff {
    background: var(--orange);
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background: url('../images/4pattern.png');
    background-size: 4em;
}

main .big4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/big4.svg');
    background-repeat: no-repeat;
    background-position-x: -10vw;
    background-position-y: -20vh;
    opacity: 1;
    z-index: -1;
    transition: all 1s ease-in-out;
}
body.about .big4 {
    background-position-x: -55vw;
}
body.blog .big4 {
    background-position-x: 60vw;
}
body.blog-post .big4 {
    background-position-x: 100vw;
}
body.stuff .big4 {
    background-position-y: -70%;
}
body.portfolio .big4 {
    background-position-y: 160%;
}

main .logo {
    position: absolute;
    bottom: .3em;
    right: 0;
    font-size: max(10vw, 80px);
    font-weight: 900;
    line-height: 1em;
    margin: 0;
    transition: transform 1s ease-in-out;
}

main .logo a {
    text-decoration: none;
    color: black;
}

main .logo::before {
    content: " ";
    position: absolute;
    top:0;
    bottom: 0;
    left: .2em;
    right: .2em;
    background: white;
    z-index: -1;
    box-shadow: var(--shadow);
}
main .logo:hover::before {
    background: var(--yellow);
}

main nav {
    position: absolute;
    font-size: max(3.5vw, 32px);
    line-height: 1.2em;
    right: 15vw;
    top: 20vh;
    margin: 0;
    padding-right: 1em;
    transition: transform 1s ease-in-out;
}

main nav::before{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    bottom: .6em;
    left: .3em;
    background: white;
    z-index: -1;
    box-shadow: var(--shadow);
}
main nav a{
    text-decoration: none;
    color: black;
    display: block;
    font-weight: 900;
    position: relative;
    z-index: 1;
}

main nav a:hover::before {
    content: " ";
    position: absolute;
    left: -.2em;
    right: 0;
    bottom: -.2em;
    top: .2em;
    z-index: -1;
    background: var(--yellow);
}

body.about :where(.logo, nav) {
    transform: translateX(-100vw);
}
body.blog :where(.logo, nav), body.blog-post :where(.logo, nav) {
    transform: translateX(100vw);
}
body.stuff :where(.logo, nav) {
    transform: translateY(100vh);
}
body.portfolio :where(.logo, nav) {
    transform: translateY(-100vh);
}

section.page {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 80px;
    font-weight: 900;
    line-height: 60px;
    transition: transform 1s ease-in-out;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

section#about {
    font-size: 50px;
    line-height: 60px;
    transform: translateX(100vw);
}

section#about > div {
    position: absolute;
    left: 40vw;
    top: 15vh;
    font-size: 50px;
    width: 12em;
    padding-left: 1.5em;
    line-height: 60px;
    padding-top: 14px;
    padding-bottom: 10vh;
}

section#about > div::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 10vh;
    background: white;
    font-size: 50px;
    width: 12em;
    display: block;
    z-index: -1;
    box-shadow: var(--shadow);
}

section#about img {
    position: absolute;
    width: 6em;
    height: auto;
    left: calc(40vw - 5em);
    top: 5em;
    box-shadow: var(--shadow);
}

section#about a {
    text-decoration: none;
    background: var(--rainbow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    white-space: nowrap;
}

section#about p{
    margin-top: 0;
}

div.back {
    position: fixed;
    font-size: 80px;
    font-weight: 900;
}

div.back::before {
    content: " ";
    position: absolute;
    background: white;
    z-index: -1;
    box-shadow: var(--shadow);
}

div.back:hover::before {
    background: var(--yellow);
}

div.back a {
    color: black;
    text-decoration: none;
}

div.back-about {
    bottom: 0;
    right: 0.2em;
    transition: transform 1s ease-in-out;
    transform: translateX(100vw);
}

div.back-about::before {
    left: -0.2em;
    bottom: 0.2em;
    top: 0.6em;
    right: 0.2em;
}

body.about :is(section#about, div.back-about) {
    transform: translateX(0vw);
}

div.back-blog {
    bottom: 0;
    right: 0.2em;
    transition: transform 1s ease-in-out;
    transform: translateX(-100vw);
}

div.back-blog::before {
    left: -0.2em;
    bottom: 0.2em;
    top: 0.6em;
    right: 0.2em;
}

body.blog :is(section#blog, div.back-blog) {
    transform: translateX(0vw);
}

div.back-stuff {
    bottom: .8em;
    right: 0em;
    transition: transform 1s ease-in-out;
    transform: translateY(-100vh) rotate(-90deg);
}

div.back-stuff::before {
    left: -0.2em;
    bottom: 0.5em;
    top: 0.3em;
    right: 0.2em;
}

body.stuff :is(div.back-stuff) {
    transform: translateY(0vw) rotate(-90deg);
}

div.back-portfolio {
    bottom: 0.6em;
    right: -.2em;
    transition: transform 1s ease-in-out;
    transform: translateY(100vh) rotate(90deg);
}

div.back-portfolio::before {
    left: .3em;
    bottom: 0.2em;
    top: 0.6em;
    right: -.1em;
}

body.portfolio :is(div.back-portfolio) {
    transform: translateY(0vw) rotate(90deg);
}

div.back-blog-post {
    bottom: 0;
    right: 0.2em;
    transition: transform 1s ease-in-out;
    transform: translateX(-100vw);
}

div.back-blog-post::before {
    left: -0.2em;
    bottom: 0.2em;
    top: 0.6em;
    right: 0.2em;
}

body.blog-post :is(section#blog-post, div.back-blog-post) {
    transform: translateX(0vw);
}

body.blog-post :is(section#blog, div.back-blog) {
    transform: translateX(100vw);
}

section#blog {
    font-size: 80px;
    font-weight: 900;
    line-height: 60px;
    transform: translateX(-100vw);
}

section#blog::-webkit-scrollbar {
    display: none;
}

section#blog > div {
    position: absolute;
    right: 17vw;
    left: 10vw;
    top: 10vh;
    font-size: 80px;
    padding-bottom: 10vh;
    min-height: 85vh;
}

section#blog > div::after {
    content: " ";
    position: absolute;
    left: 4.5em;
    top: .5em;
    right: .5em;
    bottom: 10vh;
    background: white;
    display: block;
    z-index: -1;
    box-shadow: var(--shadow);
}

section#blog ol {
    font-size: 40px;
    list-style: none;
    margin: 0;
}

section#blog li {
    display: flex;
    margin: 1em 0;
}

section#blog li span {
    margin-top: 20px;
    background: var(--yellow);
    height: 1.5em;
    box-shadow: var(--shadow);
}

section#blog li h2 {
    margin: 0;
    font-size: 80px;
    line-height: 1em;
}

section#blog a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 1;
}

section#blog a:hover::before {
    content: " ";
    position: absolute;
    left: -.2em;
    right: 0;
    bottom: -.2em;
    top: .2em;
    z-index: -1;
    background: var(--yellow);
}

section#blog p{
    margin-top: 0;
}

section#blog-post {
    font-size: 80px;
    font-weight: 900;
    line-height: 60px;
    transform: translateX(-100vw);
}

section#blog-post::-webkit-scrollbar {
    display: none;
}

section#blog-post > div {
    position: absolute;
    right: 17vw;
    left: 10vw;
    top: 10vh;
    font-size: 80px;
    padding-bottom: 12vh;
}

section#blog-post > div::after {
    content: " ";
    position: absolute;
    left: 4.5em;
    top: .5em;
    right: .5em;
    bottom: 10vh;
    background: white;
    display: block;
    z-index: -1;
    box-shadow: var(--shadow);
}

section#blog-post header {
    display: flex;
    margin: .5em 0;
}

section#blog-post header span {
    margin-top: 20px;
    font-size: 40px;
    background: var(--yellow);
    height: 1.5em;
    margin-left: 1em;
    box-shadow: var(--shadow);
}

section#blog-post header h1 {
    margin: 0;
    font-size: 80px;
    line-height: 1em;
}

section#blog-post p {
    font-weight: 400;
    font-size: 24px;
    margin-left: 17em;
    line-height: 1.5em;
    margin-right: 2em;
}